#diskheader {
    color: white;
}
ul#navbar li a, ul#navbar2 li a, ul#navbar3 li a{
    color:white;
}
ul#navbar li a:hover, ul#navbar2 li a:hover, ul#navbar3 li a:hover {
    text-decoration: underline;
}


div#Main1 {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 0px 15%;
}
div#Borrower {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 0px 15%;
}
div#Disks {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 0px 15%;
}
input.login{
    margin: 0px auto;
}
#Image1 {
    animation: spin 2s linear infinite
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.navbar {
    background: linear-gradient(to bottom right, #0066ff 0%, #6600ff 100%);
    border-radius: 5px;
}
div.container{
    display: block;
    margin: 0px auto;
    width: 90%;
   
}
#listView{
    width: 100%;
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

@keyframes spin{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(360deg);}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
   

    
}
@media screen and (max-width:767px){
    div.container {
        width: 100%;
    }
}
